<div class="jumbotron text-center">
  <img class="homelogo" src="assets/imgs/gg.png" alt="gg-logo">
  <h1>G<span class="dag">ame</span>G<span class="dag">rinders</span>
  </h1>
  <p class="lead">Welcome to the our community, join us to enhance your gaming experience !</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<ngb-tabset>
  <ngb-tab title="1. Choose your platforms :">
    <ng-template ngbTabContent>
      <ng-container>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" style="border-radius:20px;" src="assets/imgs/pc-game200.jpg">
          </div>
          <div class="card">
            <img class="card-img-top" style="border-radius:24px;" src="assets/imgs/PS4-Logo-b.jpg" alt="Card image cap">
          </div>
          <div class="card">
            <img class="card-img-top" style="border-radius:20px;" src="assets/imgs/xboxcard.gif" alt="Card image cap">
          </div>
          <div class="card">
            <img class="card-img-top" style="border-radius:24px;" src="assets/imgs/mobiles.jpg" alt="Card image cap">
          </div>

        </div>

      </ng-container>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>2.Choose your games</ng-template>
    <ng-template ngbTabContent>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>

      </div>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>
        <div class="card">
          <img class="card-img-top" src="https://www.giftnix.com/giftnix/img/gift-cards/league-of-legends-gift-card-email-delivery.png"
            alt="Card image cap">
        </div>

      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="3. Choose your mates &amp; play !">
    <ng-template ngbTabContent>
      <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec
        egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra
        et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum
        vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod
        facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus
        pulvinar feugiat.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
