<div class="jumbotron text-center">
  <h1>GameGrinders</h1>
  <p class="lead">Welcome to the our community, join us to enhance your gaming experience !</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sd-12-md-6-lg-4">
    <button class="btn btn-secondary" (click)="toggle()">
      <h5>1.Choose your platforms</h5>
    </button>
    <ng-container *ngIf="show">
      <input class="platform" id="pc" type="radio">
      <label>
        <img style="width:35px;height:35px;" src="assets/imgs/pcgame.png" alt="">
      </label>

      <input class="platform" id="ps4" type="radio">
      <label>
        <img style="width:60px;height:60px;" src="assets/imgs/ps4.jpg" alt="">
      </label>

      <input class="platform" id="xbox" type="radio">
      <label>
        <img style="width:50px;height:50px;" src="assets/imgs/xbox.svg" alt="ps4">
      </label>

      <input class="platform" id="other" type="radio">
      <label>OTHER</label>
      <select name="" id="">
        <option>Mobile</option>
        <option>Wii</option>
        <option>Arcade</option>
      </select>

    </ng-container>
  </div>

  <div class="col-sd-12-md-6-lg-4">
    <button class="btn btn-secondary">
      <h5>2.Choose your games</h5>
    </button>
  </div>

  <div class="col-sd-12-md-6-lg-4">
    <a class="btn btn-secondary" [routerLink]="['/dashboard']">
      <h5>3.Choose your mates &amp; Play !</h5>
    </a>
  </div>
</div>
