<ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>
          <h5 class="btn btn-secondary">2. Choose your game :</h5>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="card-group">

            <div class="card">

              <label for="CSGO" class="btn btn-outline-secondary">
                <img class="card-img-top borderz" src="assets/imgs/csgo.png" alt="Card image cap">
              </label>
            </div>

            <div class="card">
              <label for="LOL" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/lol2002.jpg" alt="Card image cap">
              </label>

            </div>

            <div class="card">

              <label for="FORTNITE" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/fort200.jpg" alt="Card image cap">
              </label>

            </div>

            <div class="card">

              <label for="PUBG" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/pubg-200.jpg" alt="Card image cap">
              </label>

            </div>

          </div>

          <div class="card-group">

            <div class="card">
              <a [routerLink]="['/games/pc/h1z1']" routerLinkActive="router-link-active" >
              <label for="H1Z1" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/h1z1.jpg" alt="Card image cap">
              </label>
            </a>
            </div>

            <div class="card">

              <label for="DOTA" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/dota2.jpg" alt="Card image cap">
              </label>

            </div>

            <div class="card">

              <label for="COD" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/codww2.jpg" alt="Card image cap">
              </label>

            </div>

            <div class="card">

              <label for="GTA" class="btn btn-outline-secondary">
                <img class="card-img-top borderz"   src="assets/imgs/gta-5.jpg" alt="Card image cap">
              </label>

            </div>

          </div>
        </ng-template>
      </ngb-tab>
</ngb-tabset>
