.card {
  border: solid 2px white !important;
}

.borderz{
  border-radius:20px;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  display:inline-block;
  padding: 0 0 0 0px;
  max-height: 260px;
  max-width: 260px;;
  background-size: 50%;
}

input[type=checkbox]:checked + label {
  max-height: 260px;
  max-width: 260px;
  display:inline-block;
  background-size: 50%;
  background-color: #73E500;
  box-shadow: 0px 0px 1px 1px #73E500;
}
